<footer>
    <p>Last Updated: <span style="display:inline-block;">{{ site.time | date: '%A, %B %e, %Y' }}</span></p>
    <a class="link" href="https://github.com/desn-ca">GitHub repository</a>
</footer>